@charset "utf-8";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}
.after_modal {
  display: blocks;
  top: 0;
  left: 0;
  z-index: 15;
  position: fixed; /* 固定表示＋fixedの要素は浮いているのでページの他の要素が下がらない */
  width: 100%;
  height: 100vh;
  background-color: #00b3ff2a;
  text-align: center;
}
.modal {
  width: 60%;
  height: 60vh;
  margin-top: 25vh;
  margin-left: 20%;
  background-color: #fff;
  border-radius: 10px;
}
.shuryo {
  font-size: 2.5rem;
  color: #00b2ff;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 2px dashed #00b2ff;
}
.modal_items {
  display: flex;
  justify-content: space-evenly;
}
.modal_item p {
  font-size: 1.5rem;
  color: #181818;
  padding-bottom: 10px;
  border-bottom: 2px dashed #00b2ff;
}
.modal_item img {
  width: 100px;
  height: 100px;
}

.fade {
  width: 74%;
  margin-left: 13%;
  animation-name: fade;
  animation-duration: 2s;
}

.top_image {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 45vw;
  animation-name: fade;
  animation-duration: 2s;
}

.haikei {
  z-index: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 45vw;
  object-fit: cover;
}
.logo {
  z-index: 5;
  position: absolute;
  display: block;
  width: 40%;
  left: 30%;
  top: 50px;
  height: auto;
}
.top_image p {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #181818;
  white-space: nowrap;
}
.phone_p {
  display: none;
}

.buttons {
  display: flex;
}
.buttons a {
  display: block;
  flex-grow: 1;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  border-right: 2px solid #fff;
  background-color: #00b2ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttons a:hover {
  color: #00b2ff;
  background-color: #fff;
}

.setumei {
  margin-top: 60px;
}

.setumei p {
  font-size: 1.2rem;
  color: #181818;
}

.setumei span {
  font-size: 3rem;
}
.cl {
  color: #00b2ff;
}

.chuui {
  margin-top: 30px;
}

.chuui p {
  font-size: 1.2rem;
  color: #181818;
}
.title {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}
.artists {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  position: relative;
  width: 40%;
  height: 300px;
  margin-top: 20px;
  background-color: #00b3ff6f;
}

.item2 {
  background-color: transparent;
}

.item img {
  display: block;
  position: absolute;
  width: 8vw;
  height: 8vw;
  top: 5%;
  left: 5%;
}

.name {
  position: absolute;
  font-size: 2rem;
  left: 40%;
}

.date {
  position: absolute;
  font-size: 1.5rem;
  top: 55%;
  left: 5%;
}
.nedan {
  font-size: 1.5rem;
  font-weight: normal;
}
.drinks {
  position: relative;
  display: flex;
}
.drinks p {
  font-size: 2.2rem;
  flex-grow: 1;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.drink1 {
  background-color: #00cccc;
  border-right: 1px solid #fff;
}

.drink2 {
  background-color: #eadd32;
  border-right: 1px solid #fff;
}

.drink3 {
  background-color: #a0522d;
  border-right: 1px solid #fff;
}

.drink4 {
  background-color: #e8a17a;
}
