@charset "utf-8";
.topic {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  width: 70%;
}
.subtitle {
  color: #282626;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 0;
}
.topic span {
  color: #5cb200;
}
.news {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 1vw;
}
.news_base {
  position: relative;
  width: 30%;
  height: 15vw;
  background-size: cover;
}
.news1 {
  background-image: url(/whatsnew/20241103_koudaisai/_img/poster.webp);
}
.news2 {
  background-image: url(/whatsnew/20240705_takimatsuri/_img/2024takimatsuri-poster.webp);
}
.news3 {
  background-image: url(/whatsnew/img/wakabasai2024_logo.webp);
}
.news4 {
  background-image: url(/whatsnew/20231222_takibar/_img/takibar5_poster.webp);
}
.news5 {
  background-image: url(/whatsnew/20231021_koudaisai/_img/koudaisai2023.webp);
}
.txt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.63);
}
.news_btn {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  font-weight: bold;
  color: #242626;
  padding: 0.6rem 1rem;
  background-color: #fff;
  border-radius: 0.7rem;
}
.news_title {
  margin: 12% 12% 6% 12%;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
}
.news_txt {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 12%;
  color: #fff;
}
.news_tab {
  position: relative;
  background-color: transparent;
  width: 30%;
  height: 15vw;
}
.news_tab a {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-weight: normal;
  padding: 1.2rem;
  color: #fff;
  background-color: #282626;
  white-space: nowrap;
}
.news_tab a:hover {
  color: #282626;
  background-color: #fff;
  border: 0.5px solid #282626;
}
.news_btn:hover {
  /* Jqueryでアニメーションにしたい */
  font-size: 1.1rem;
}
