@charset "utf-8"; /* 文字化けしないために書く */
@media screen and (max-width: 1024px) {
  .box {
    height: 20vw;
    border: 2.5px solid #5cb200;
  }
  .box h3 {
    font-size: 2rem;
    margin-block-end: 0.5em;
  }
  .box p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 670px) {
  .parent_div {
    display: block;
  }
    
  .text {
    width: 100%;
  }
  .box {
    height: 36vw;
    border: 2px solid #5cb200;
  }
  .box h3 {
    font-size: 2rem;
  }
  .box p {
    font-size: 1.1rem;
  }
    
  .link_text {
    margin-top: 10%;
    margin-bottom: 5vw;
  }
  .link_text a {
    display: block;
    text-align: center;
  }
    
  .image {
    width: 100%;
  }
}