@charset "utf-8"; /* 文字化けしないために書く */
@media screen and (max-width: 1024px) {
  .introduction {
    height: 22vw;
  }
  .introduction img {
    height: 90%;
    top: 1vw;
    left: 2vw;
  }
  .who {
    width: 40%;
    left: 30%;
  }

  .content {
    height: 45vw;
    padding-bottom: 5vw;
  }
  .text_left {
    width: 50%;
    top: 25%;
    text-align: center;
  }
  .text_right {
    top: 5%;
    left: 55%;
  }
}
@media screen and (max-width: 670px) {
  .introduction {
    height: 310px;
    border: none;
    border-bottom: 4px solid #c8c8c8;
  }
  .introduction img {
    width: auto;
    height: 30vw;
    top: 1.5vw;
    left: 5vw;
  }
  .who {
    position: absolute;
    width: 40%;
    left: 50%;
  }
  .who h6 {
    font-size: 1rem;
  }
  .who h3 {
    font-size: 1.5rem;
  }
  .who p {
    font-size: 0.7rem;
  }
  .about {
    width: 100%;
    top: 150px;
    left: 0;
  }
  .about p {
    font-size: 0.9rem;
  }

  .content {
    height: 600px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .content img {
    height: 50%;
    right: 30%;
  }

  .text_left {
    position: absolute;
    width: 90%;
    top: 55%;
    text-align: center;
  }

  .text_left p {
    font-size: 1.2rem;
  }

  .text_right {
    position: absolute;
    width: 90%;
    top: 55%;
    left: 5%;
    text-align: center;
  }

  .text_right p {
    font-size: 1.2rem;
  }

  .right {
    float: none;
  }
}
