@charset "utf-8"; /* 文字化けしないために書く */
@media screen and (max-width: 670px) {
  .titles {
    width: 100%;
    height: 50px;
    margin-top: 180px;
    margin-left: 0;
  }
  .pc_title {
    display: none;
  }
  .mobile_title {
    display: block;
  }
  .main {
    width: 90%;
    margin-top: -7%;
    margin-left: 0%;
    padding: 4.7%;
  }
  .setumei,
  .houhou {
    display: block;
  }
  .houhou p {
    width: 100%;
  }
  .setumei img,
  .houhou img {
    width: 70%;
    margin-left: 15%;
  }
  .q span {
    display: none;
  }
}
