@charset "utf-8"; /* 文字化けしないために書く */
@media screen and (max-width: 1024px) {
  .contents {
    height: 230px;
  }
  .who p {
    white-space: nowrap;
  }
  .about {
    top: 10%;
  }
}

@media screen and (max-width: 670px) {
  .title h3 {
    font-size: 2.5rem;
    margin-top: 0;
    padding-top: 0;
  }
  .ja {
    font-size: 1rem;
  }
  .contents {
    height: 350px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
  }
  .contents img {
    width: 30%;
    left: 0;
  }
  .who {
    width: 65%;
    height: 200px;
    top: 0;
    left: 35%;
  }
  .who h6 {
    font-size: 1rem;
  }
  .who h3 {
    font-size: 1.5rem;
  }
  .who p {
    font-size: 0.7rem;
  }
  .about {
    width: 100%;
    top: 200px;
    left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .fade {
    width: 90%;
    margin-left: 2.5%;
  }
  .introduction {
    height: 20vw;
  }
  .titile h3 {
    font-size: 2.4rem;
  }
  .ja {
    font-size: 1.2rem;
  }
  .en {
    font-size: 1.2rem;
  }
  .introduction img {
    height: 90%;
    top: 1vw;
    left: 4vw;
  }
  .who {
    left: 30%;
  }
  .who h6 {
    font-size: 1.8rem;
  }
  .who h3 {
    font-size: 2.4rem;
  }
  .who p {
    font-size: 1.4rem;
  }
  .about p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 670px) {
  .fade {
    width: 90%;
    margin-left: 5%;
  }
  .title h3 {
    font-size: 5rem;
  }
  .ja {
    font-size: 2rem;
  }
  .en {
    font-size: 2rem;
  }
  .introduction {
    height: 60vw;
    border: none;
    border-bottom: 4px solid #c8c8c8;
  }
  .introduction img {
    width: auto;
    height: 30vw;
    top: 1.5vw;
    left: 5vw;
  }
  .who {
    position: absolute;
    width: 40%;
    left: 50%;
  }
  .who h6 {
    font-size: 2.8rem;
  }
  .who h3 {
    font-size: 4rem;
  }
  .who p {
    font-size: 2rem;
  }
  .about {
    width: 100%;
    top: 60%;
    left: 10%;
  }
  .about p {
    font-size: 2rem;
  }
  .about span {
    font-weight: bold;
  }
}
