@charset "utf-8"; /* 文字化けしないために書く */

@media screen and (max-width: 1024px) {
  .fade {
    width: 90%;
    margin-left: 5%;
  }
  .introduction {
    height: 22vw;
  }
  .titile h3 {
    font-size: 2.4rem;
  }
  .ja {
    font-size: 1.6rem;
  }
  .en {
    font-size: 1.6rem;
  }
  .introduction img {
    height: 90%;
    top: 1vw;
    left: 2vw;
  }
  .who {
    left: 30%;
  }
  .who h6 {
    font-size: 1.8rem;
  }
  .who h3 {
    font-size: 2.4rem;
  }
  .who p {
    font-size: 1.4rem;
  }
  .about p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 670px) {
  .fade {
    width: 90%;
    margin-left: 5%;
  }
  .title h3 {
    font-size: 4rem;
  }
  .ja {
    font-size: 2rem;
  }
  .en {
    font-size: 2rem;
  }
  .introduction {
    height: 65vw;
    border: none;
    border-bottom: 4px solid #c8c8c8;
  }
  .introduction img {
    width: auto;
    height: 30vw;
    top: 1.5vw;
    left: 5vw;
  }
  .who {
    position: absolute;
    width: 40%;
    left: 50%;
  }
  .who h6 {
    font-size: 2.8rem;
  }
  .who h3 {
    font-size: 4rem;
  }
  .who p {
    font-size: 2rem;
  }
  .about {
    width: 100%;
    top: 55%;
    left: 10%;
  }
  .about p {
    font-size: 2rem;
  }
  .about span {
    font-weight: bold;
  }
}
