@charset "utf-8"; /* 文字化けしないために書く */
.title {
    text-align: center;
}
.title h3{
    font-size: 3.5rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}
.title span {
    color: #5CB200;
}
.ja {
    font-size: 1.5rem;
}

.contents{
    position: relative;
    width: 100%;
    height: 300px;
    border: 4px solid #c8c8c8;
    border-radius: 5px;
    margin-bottom: 20px;
}
.contents img{
    position: absolute;
    width: 15%;
    height: auto;
    top: 20px;
    left: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #C8C8C8;
}
.who {
    position: absolute;
    width: 38%;
    left: 20%;
}
.who h6{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}
.who h3{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.who p{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}
.who span{
    font-weight: bold;
}
.about {
    position: absolute;
    width: 38%;
    top: 20%;
    left: 60%;
}
.about p{
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}
.about span{
    font-size: 0.9rem;
    font-weight: bold;
}