@charset "utf-8"; /* 文字化けしないために書く */

.section_name {
  text-align: center;
  z-index: 10;
}
.section_name h1 {
  font-size: 40px;
  color: #242626;
  padding-bottom: 5px;
  border-bottom: 3px dashed #5cb200;
}
.content {
  position: relative;
  width: 100%;
  height: 30vw;
  margin-bottom: 20px;
}
.content img {
  height: 100%;
  width: auto;
  right: 10%;
}

.text_left {
  position: absolute;
  width: 50%;
  top: 25%;
  text-align: center;
}

.text_left p {
  font-size: 1.2rem;
}

.text_right {
  position: absolute;
  width: 45%;
  top: 15%;
  left: 50%;
  text-align: center;
}

.text_right p {
  font-size: 1.2rem;
}

.right {
  float: right;
}
