#tpgポータルからパクってきた
body { /* 全体でフォント・余白を一括指定(お節介防止) */
    /* margin: 0; */
    font-family: "Metropolis-Regular", "sans-serif";
}

a { /* 一括用*/
    text-decoration: none;
}


/* takibar全ページ共通 */
body {
    background-color: darkblue;
}


.header-all {
    background-color:royalblue;
    height: 110px;
    width: 70%;
    margin: 0 auto; /* 中央寄せ */
 
}

.header-logos {
    width: 100%;
    margin: 40  , auto;
    display: block;
}
.logo {
    display: inline-block;
    height: 60px;
}

.header-items {
    background-color: bisque;
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.header-items-item {
    display: inline-block;
    margin-left: 0;
    border: 1px solid red;
    color: black;

    /* テキストをボックスの中心に持ってくる */
    text-align: center;
    line-height: 50px; 

    flex-grow: 1;  /* 幅いっぱいに引き延ばす */
}
