html {
    scroll-behavior: smooth;/* ページ内のボタンを押したときにスクロール風の動きをする */
    font-size: 1vw;/* rem単位の基準値 */
    padding: 0;
}
body {
    background-image: url("./_img/background.webp");
    object-fit: fill;
    z-index: -150;
    fill: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.everybody_yasai {
    width: 50%;
    height: auto;
    display: block;
    margin: 150px auto 30px;
}
.takipuranouenn {
    width: 40%;
    height: auto;
    display: block;
    margin: 20px auto;
}
.everybody_sityu- {
    width: 50%;
    height: auto;
    display: block;
    margin: 30px auto;
}

.content {
    margin: 255px auto 0px;
    width: 90%;
    height: auto;
    text-align: center;
    border-radius: 50px;
    background-color: #fff;
}
.content_title {
    margin: 50px auto 10px;
    width: 315px;
    height: auto;
}
.content_text {
    margin-top: 50px;
    font-size: 1rem;
    letter-spacing: 0.30em;
    text-align: center;
    color: darkgreen;
    line-height: 90px;
    margin-bottom: 50px;
}

.place_apply {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 30px;
}

.place {
    width: 45%;
    height: 500px;
    text-align: center;
    border-radius: 50px;
    background-color: #fff;
}

.place_title {
    margin: 30px auto 10px;
    width: 315px;
    height: auto;
}

.place_content {
    margin-top: 100px;
    font-size: 1.5rem;
    letter-spacing: 0.30em;
    text-align: center;
    color: #2F4C29;
    line-height: 90px;
}


