html {
    scroll-behavior: smooth;/* ページ内のボタンを押したときにスクロール風の動きをする */
    font-size: 1vw;/* rem単位の基準値 */
    padding: 0;
}

body {
    /* 多分リンク違ったから入れ替えたけどぼかしとかするのかな？ */
    background-image: url("./_img/background.webp");
    object-fit: fill;
    z-index: -150;
    fill: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin: 305px auto;
    width: 96%;
    text-align: center;
    color: #fff;
}
.content_title {
    margin: 93px auto;
    width: 315px;
    height: auto;
}
.content_content {
    margin-top: 100px;
    font-size: 1rem;
    letter-spacing: 0.30em;
    text-align: center;
    color: darkgreen;
    line-height: 90px;
}