@charset "utf-8";
@media screen and (max-width: 1024px) {
  .fade {
    width: 84%;
    margin-top: 120px;
    margin-left: 8%;
    margin-bottom: 25px;
  }
  .area1 {
    display: flex;
    height: 95vw;
  }
  .area1 img {
    width: 80%;
    height: auto;
  }
  .btns {
    width: 20%;
    height: auto;
  }
  .btn img {
    width: 40%;
    height: auto;
    transform: translate(0, 50%);
    margin-top: 5px;
  }
  .area2{
    height: 50vw;
  }
  .area3{
    height: 35vw;
  }
  .area4{
    height: 50vw;
  }
  .area5{
    height: 45vw;
  }
  .area6{
    height: 45vw;
  }
  .normal {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 670px) {
  .area1 {
    display: block;
    height: 150vw;
  }
  .area1 img {
    width: 100%;
    height: auto;
  }
  .btns {
    display: block;
    width: 100%;
    height: 35vw;
  }
  .btn {
    display: block;
    width: 35vw;
    height: 7.5vw;
    border-radius: 20px;
  }
  .btn img {
    width: 7vw;
    transform: translate(-50%, 0%);
    margin-top: 0.3vw;
    margin-left: 50%;
  }
  .btn1 {
    top: 20%;
    left: 25%;
  }
  .btn2 {
    top: 20%;
    left: 75%;
  }
  .btn3 {
    top: 55%;
    left: 25%;
  }
  .btn4 {
    top: 55%;
    left: 75%;
  }
  .btn5 {
    top:85%;
  }

  .area {
    font-weight: bold;
    display: flex;
    flex-flow: column;
  }
  .area2{
    height: 150vw;
  }
  .area3{
    height: 100vw;
  }
  .area4{
    height: 110vw;
  }
  .area5{
    height: 120vw;
  }
  .area6 {
    height: 90vw;
  }
  .area6 a {
    font-size: 1rem;
  }
  .title b {
    font-size: 1.8rem;
    transform: translate(0,-100px);
  }

  .left {
    width: 90%;
    margin-left: 5%;
  }
  .right {
    width: 90%;
    margin-left: 5%;
  }

  .game {
    width: 70%;
    margin-left: 15%;
  }
  .map {
    width: 60%;
    margin-left: 20%;
  }

  .normal {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
  }
  .small {
    font-size: 1rem;
    color: #fff;
  }
}