@charset "utf-8"; /* 文字化けしないために書く */
.title {
  text-align: center;
}
.title h3 {
  font-size: 3.5rem;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
}
span {
  color: #5cb200;
}
.subtitle {
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}
.content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 50px;
}
.content p {
  width: 55%;
}
.content img {
  width: 35%;
  margin-left: 5%;
  object-fit: contain;
}
