@charset "utf-8"; /* 文字化けしないために書く */
@media screen and (max-width: 1024px) {
    .article {
        height: 300px;
    }
    .article img{
        height: 300px;
    }
}
@media screen and (max-width: 670px) {
    .article {
        height: 220px;
    }
    .text{
        width: 65%;
        right: 30%;
        top: 5px;
    }
    .text p{
        display: none;
    }
    .text p:first-child{
        display: block;
        top: 150px;
        left: 50%;
    }
    
    .article img {
        width: 25%;
        height: 24vw;
        top: 10vw;
        left: 70%;
    }
}
