@media screen and (max-width: 1024px) {
  .fade_hoya {
    width: 95%;
    margin-top: 90px;
    padding-top: 0px;
    margin-left: 2.5%;
  }
  .jiyu {
    height: 450px;
  }
  .part_item {
    height: 350px;
  }
}
@media screen and (max-width: 670px) {
  .fade_hoya {
    margin-top: 90px;
  }
  .logo {
    margin-top: 20px;
  }
  .jiyu {
    height: 600px;
    margin-top: 25px;
  }
  .jiyu img {
    width: 40%;
    transform: translate(0, 0);
    top: 10px;
    left: 30%;
  }
  .jiyu p {
    width: 90%;
    transform: translate(0, 0);
    top: 35vw;
    left: 5%;
  }

  .archive {
    margin-top: 40px;
  }
  .vol {
    width: 100%;
  }
  .part_item {
    width: 90%;
    height: 500px;
    margin-left: 5%;
  }
}
