@media screen and (max-width: 1024px) {
  .titles {
    height: auto;
    display: flex;
    align-items: flex-end;
  }
  .title {
    position: relative;
    height: 100%;
    bottom: 0%;
  }
  .images_top {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 670px) {
  .titles {
    display: block;
    width: 100%;
    height: 90vw;
    flex-direction: column-reverse;
  }
  .title {
    position: relative;
    height: auto;
    top: 65vw;
    padding-top: 5%;
  }
  .title h3 {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .images_top {
    position: absolute;
    display: flex;
    width: 100%;
    height: 65vw;
    top: 0;
  }
  /* .titles img {
    top: 20px;
    bottom: none;
    width: 100%;
    height: 60vw;
    object-fit: cover;
    transform: translate(-5vw, 0);
  } */
  .images img {
    width: 100%;
    height: auto;
  }
  .bottom_btn {
    display: none;
  }
}
